<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-full overflow-hidden p-2">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product--information">
      <h1>{{ product.title }}</h1>
      <p>{{ product.price }}</p>
    </div>
  </div>
</div>
